### Importing Modules

In [29]:
import pandas as pd 
import numpy as np

#### Getting URL of web page

In [30]:
URL = 'https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29'

#### Data Extraction and Processing

In [31]:
tables = pd.read_html(URL)  # Choosing the GDP table from the page

In [ ]:
df = tables[3]
colNo = df.shape[1]
df.columns = range(colNo)
df = df[[0,2]]
df = df.iloc[1:11, :]
df.columns = ['Country', 'GDP (Million USD)']

In [ ]:
df[['GDP (Million USD)']] = df[['GDP (Million USD)']].astype(int)

In [ ]:
df[['GDP (Million USD)']] = df[['GDP (Million USD)']] / 1000

In [ ]:
df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']],2)

In [ ]:
df.rename(columns={'GDP (Million USD)' : 'GDP (Billion USD)'})

           Country  GDP (Billion USD)
1    United States           26854.60
2            China           19373.59
3            Japan            4409.74
4          Germany            4308.85
5            India            3736.88
6   United Kingdom            3158.94
7           France            2923.49
8            Italy            2169.74
9           Canada            2089.67
10          Brazil            2081.24

In [ ]:
df.to_csv('Largest_economies.csv')  # Writing results in csv file