### Importing Modules

In [19]:
import pandas as pd 
import numpy as np

#### Getting URL of web page

In [20]:
URL = 'https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29'

#### Data Extraction and Processing

In [21]:
tables = pd.read_html(URL)  # Choosing the GDP table from the page

In [22]:
df = tables[3]
colNo = df.shape[1]
df.columns = range(colNo)
df = df.iloc[:,[0,2]]
df = df.iloc[1:11, :]
df.columns = ['Country', 'GDP (Million USD)']

In [23]:
df[['GDP (Million USD)']] = df[['GDP (Million USD)']].astype(int)

In [24]:
df[['GDP (Million USD)']] = df[['GDP (Million USD)']] / 1000

In [25]:
df.rename(columns={'GDP (Million USD)' : 'GDP (Billion USD)'})

           Country  GDP (Billion USD)
1    United States          26854.599
2            China          19373.586
3            Japan           4409.738
4          Germany           4308.854
5            India           3736.882
6   United Kingdom           3158.938
7           France           2923.489
8            Italy           2169.745
9           Canada           2089.672
10          Brazil           2081.235

In [26]:
df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']],2)
print(df)

           Country  GDP (Million USD)
1    United States           26854.60
2            China           19373.59
3            Japan            4409.74
4          Germany            4308.85
5            India            3736.88
6   United Kingdom            3158.94
7           France            2923.49
8            Italy            2169.74
9           Canada            2089.67
10          Brazil            2081.24

In [18]:
df.to_csv('Largest_economies.csv')  # Writing results in csv file